@import url('variables.css');


.interfazvehiculos{
 width: 80%;
 height: 100vh;
}
.interfazVehiculos__header{
 display: flex;
 font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
  font-weight: 600;
  align-items: center;
  height: 15%;
}
.interfazvehiculos__fondo{
 display: flex;
 justify-content: center;  
}

.interfazVehiculos__title{
 width: 100%;
 height: 15vh;
 padding: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 
}

.title__vehiculos{
 font-size: 1.9rem;
}
.interfazVehiculos__button{
 width: 15%;  
 height: 55%;
 border: none;
 padding: 5px;
 border-radius: 10px;
 font-size: 1.0rem;
}
.interfazVehiculos__content{
padding: 10px;
width: 100%;
display: flex;
flex-wrap: wrap;
height: 85%;
overflow-y: auto;
scrollbar-width: none;
gap: 25px;
}

.interfazvehiculos__cards{
 padding: 5px;
 width: 18%;
 height: 32%;
 background-color:var(--color--cardvehiculos);
 border-radius: 15px;
}
 .interfazvehiculos__body{
 display: flex;
 flex-direction:column;
 width: 100%;
 height: 100%;
}
.interfazvehiculos__info{
  display: flex;
  height: 75%;
  justify-content: space-around;
}
.interfazvehiculos__contentCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.interfazvehiculos__button{
 width: 100%;
 height: 20%;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}
.interfazvehiculos__buttones{
  width: 40%;
  height: 80%;
  border-radius: 15px;
  background-color: var(--color--buttoncards);
  color: var(--color--blancocontent);
  border: none;
}
.interfazcard__nombre{
  font-size: 1.1rem;
}
.title__button{
 width: 15%;
}
.button__vehiculos{
    width: 100%;
    height: 5vh;
    text-align: center;
    border-radius: 50px;
    background-color: var(--color--principal);
    color: rgb(255, 255, 255);
    font-family: var(--font-buttons);
    font-size: 1.1rem;
    font-weight: 600;
}

.insertarUsuario__title{
  width: 100%;
  height: 15%;
}
.insertarUsuariobody{
  height: 75%;
}
.inserarUsuario__close{
  height: 10%;
}