@import url('variables.css');
.bodyAdmin{
  display: flex;
}
.lateral{
  width: 20%;
  height: 100vh;
  background-color: #38528a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: var(--font--principalateral);
  font-size: 0.6rem;
  list-style-type: none; 
  font-weight:700;
}
.lateral__title{
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(219, 219, 219);
  
}
.lateral__menu{
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
  gap: 10px;
}
.lateral__border{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lateral__icons{
font-size: 25px;
color: rgb(25, 25, 26);
}
.lateral__titletext{
  font-size: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.lateral__text{
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
 
}

.contentadmin{
  width: 80%;
  height: 100vh;
  display: flex;
  padding:20px;
}


.contentadmin__menu {
  display: grid;
  grid-template-areas: 
    "resumen resumen resumen resumen notificaciones"
    "calendario calendario ordenes ordenes notificaciones"
    "calendario calendario ordenes ordenes notificaciones"
    "reportes reportes empleados empleados notificaciones"
    "reportes reportes empleados empleados notificaciones";
  grid-template-columns: repeat(4, 1fr) 250px;
  grid-template-rows: repeat(5, 1fr) ;
  gap: 20px;
  width: 100%;
}

.contentadmin__menu p {
  font-family: var(--font--principalateral);
  font-size: 1.5rem;
  font-weight: 500;
}

.contentadmin__menu h2{
    font-family: var(--font--principalateral);
  font-size: 2.0rem;
  font-weight: 600;
}

.menu__resumen { 
  grid-area: resumen;
  display: flex;
  gap: 10px;
  
 }
 
 .menu__items{
  width: 40%;
  height: 90%;
  background-color: #38528a;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
 }
 .menu__numbers{
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
 }
 .menu__text{
  text-align: center;
  font-size: 25px;
  color: rgb(7, 7, 7);

 }

.menu__calendario { 
  grid-area: calendario;
  background-color: rgb(192, 190, 190);
  border-radius: 15px;
 }
 
.menu__ordenes { 
  grid-area: ordenes; 
 background-color: rgb(192, 190, 190);
  border-radius: 15px;
}
.menu__ventas { 
  grid-area: ventas;
 background-color: rgb(192, 190, 190);
  border-radius: 15px; 
}
.menu__empleados { 
  grid-area: empleados; 
 background-color: rgb(192, 190, 190);
  border-radius: 15px;
    overflow-y: auto;
   scrollbar-width: none;
   padding: 0px 20px;
}
.Menu__empleados-nombres{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 15px;
}
.Menu__empleados-nombres > p{
    text-align: center;
}

.Menu__empleados-content{
  display: flex; 
  justify-content: space-between;
}
.Menu__empleados-content >p {
  font-size: 1.1rem;
}
.Menu__empleados-pnombres{
  width: 120px ;
  height: 40px;
  text-align: center; 
}
.Menu__empleados-pcedula{
  width: 115px ;
  height: 40px;
  text-align: center;
}
.Menu__empleados-prol{
  width: 80px ;
  height: 40px;
  text-align: center;
}


.menu__reportes { 
  grid-area: reportes; 
 background-color: rgb(192, 190, 190);
  border-radius: 15px;
}
.menu__notificaciones { 
  grid-area: notificaciones; 
 background-color: rgb(192, 190, 190);
  border-radius: 15px;
}
