@import url('interfazIndex.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cardo:ital,wght@0,400;0,700;1,400&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
}
.lateral{
  width: 20%;
  height: 100vh;
  background-color: #38528a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lateral__title{
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(219, 219, 219);
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
}
.lateral__menu{
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center;
  gap: 10px;
}
.lateral__border{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lateral__icons{
font-size: 25px;
color: rgb(25, 25, 26);
}
.lateral__titletext{
  font-size: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.lateral__text{
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  list-style-type: none;
  font-weight: 600;
}

.contentadmin{
  width: 80%;
  height: 100vh;
  display: flex;
  padding:20px;
}
.contentadmin__menu {
  display: grid;
  grid-template-areas: 
    "resumen resumen resumen resumen notificaciones"
    "calendario calendario ordenes ordenes notificaciones"
    "calendario calendario ordenes ordenes notificaciones"
    "reportes reportes empleados empleados notificaciones"
    "reportes reportes empleados empleados notificaciones";
  grid-template-columns: repeat(4, 1fr) 250px;
  grid-template-rows: repeat(5, 1fr) ;
  gap: 20px;
  width: 100%;
}

.menu__resumen { 
  grid-area: resumen;
  display: flex;
  gap: 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  list-style-type: none;
 }
 .menu__items{
  width: 40%;
  height: 90%;
  background-color: #38528a;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
 }
 .menu__numbers{
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
 }
 .menu__text{
  text-align: center;
  font-size: 25px;
  color: rgb(7, 7, 7);
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  list-style-type: none;
  font-weight: 700;
 }

.menu__calendario { 
  grid-area: calendario;
  background-color: rgb(192, 190, 190)

 }
 
.menu__ordenes { 
  grid-area: ordenes; 
  background-color: rgb(192, 190, 190)

}
.menu__ventas { 
  grid-area: ventas;
  background-color: rgb(192, 190, 190)
 
}
.menu__empleados { 
  grid-area: empleados; 
  background-color: rgb(192, 190, 190)

}
.menu__reportes { 
  grid-area: reportes; 
  background-color: rgb(192, 190, 190)

}
.menu__notificaciones { 
  grid-area: notificaciones; 
  background-color: rgb(192, 190, 190)

}
