@import url('variables.css');
.loginmecanico{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
  gap: 10px;
}
.loginmecanico__login{
  width: 40%;
  height: 50%;
  border-radius: 30px;
}


